.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  }
  
  .header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .questions-container {
    margin-top:15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .question {
    display: block;
    background-color: #f7f9fc;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: left;
  }

  .question span {
    display: block; /* Faz com que cada span ocupe uma linha inteira */
    margin-bottom: 10px; /* Adiciona um espaçamento entre os spans, se necessário */
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .button-wrapper {
    margin: 10px;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  
    &:hover {
      background-color: #0056b3;
      transform: translateY(-3px);
    }
  
    &:active {
      background-color: #003f7f;
      transform: translateY(1px);
    }
  
    &:focus {
      outline: none;
    }
  }
  
  .result {
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
  }

  .styled-input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin-top: 10px;
  }
  
  .styled-input:focus {
    border-color: #007bff;
    background-color: #e6f0ff;
    outline: none;
  }
  
  .styled-input::placeholder {
    color: #999;
    font-style: italic;
  }
  
  .styled-input:hover {
    border-color: #007bff;
  }