<div class="container">
  <span class="header">Selecione qual questão quer resolver :</span>

  <div class="questions-container">
    <span class="question" [innerHTML]="questao1"></span>
    <div class="question">
      <span [innerHTML]="questao2">
      </span>
      <span> Entre com um valor:</span>
      <input
      id="number-input"
      type="string"
      [(ngModel)]="fibonacciInput"
      (keypress)="onlyNumber($event)"
      (paste)="preventPaste($event)"
      placeholder="Digite um número"
      class="styled-input"
    />
    </div>

    <div class="question">
      <span [innerHTML]="questao3"></span>
      <span>{{ 'Json Usado:'}}</span>
      <span>{{faturamentoMensal | json}}</span>
    </div>
    <span class="question" [innerHTML]="questao4"></span>
    <div class="question">
      <span [innerHTML]="questao5">
      </span>
      <span> Entre com uma string:</span>
      <input
      id="number-input"
      type="string"
      [(ngModel)]="stringInput"
      placeholder="Digite uma string para ser invertida"
      class="styled-input"
    />
    </div>
  </div>

  <div class="buttons-container">
    <div *ngFor="let item of itens" class="button-wrapper">
      <button class="btn" (click)="selecionarQuestao(item)">
        Questão {{ item }}
      </button>
    </div>
  </div>

  <div>
    <div class="result">{{ 'Resultado da questão selecionada:' }}</div>
    <div class="result">{{ result.length > 0 ? result : 'Selecione uma questão'}}</div>
  </div>
</div>
<router-outlet></router-outlet> 